<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head></h:head> 
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanProveedor.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Proveedor" icon="fa fa-plus"
					update="@form ,:form1"
					actionListener="#{beanProveedor.actionListenerColapsarPanel()}">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanProveedor.proveedor.nombreProveedor}" >
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<h:outputText value="APELLIDO" />
				<p:inputText value="#{beanProveedor.proveedor.nombreProveedor}" >
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<h:outputText value="RUC" />
				<p:inputText value="#{beanProveedor.proveedor.rucProveedor}"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />
				<h:outputText value="Correo" />
				<p:inputText type="email" value="#{beanProveedor.proveedor.correoProveedor}" >
					<p:keyFilter regEx="/[a-z0-9_\.\-@]/i"/>
				</p:inputText>
				<h:outputText value="Telefono" />
				<p:inputText value="#{beanProveedor.proveedor.telefonoProveedor}"
				onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />
				<h:outputText value="Direccion" />
				<p:inputText value="#{beanProveedor.proveedor.direccionProveedor}" >
				<p:keyFilter regEx="/[aA-zZ0-9 .]/i"/>

				</p:inputText>
				<h:outputText value="ROL" />
				<p:selectOneMenu>
					<f:selectItems value="#{beanRolProveedor.listaProveedor}" var="proveedor"
						itemLabel="#{proveedor.nombreRolProveedor}" itemValue="#{proveedor.idRolProveedor}">
					</f:selectItems>
					<p:ajax event="itemSelect">
					</p:ajax>
				</p:selectOneMenu>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanProveedor.actionInsertarProveedor()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>

	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos de Proveedor">
			<p:dataTable value="#{beanProveedor.listaProveedor}" reflow="true"
				var="proveedor" paginator="true" rows="5">
				<p:column headerText="NOMBRE">
					<h:outputText value="#{proveedor.nombreProveedor}" />
				</p:column>
				<p:column headerText="RUC">
					<h:outputText value="#{proveedor.rucProveedor}" />
				</p:column>
				<p:column headerText="CORREO" >
					<h:outputText value="#{proveedor.correoProveedor}" />
				</p:column>
				<p:column headerText="DIRECCION">
					<h:outputText value="#{proveedor.direccionProveedor}" />
				</p:column>
				<p:column headerText="Telefono">
					<h:outputText value="#{proveedor.telefonoProveedor}" />
				</p:column>
				<p:column headerText="Rol Proveedor">
					<h:outputText value="#{proveedor.rolProveedor.nombreRolProveedor}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanProveedor.actionListenerEliminarProveedor(proveedor.idProveedor)}">
						<p:confirm header="Confirmacion" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanProveedor.actionListenerSeleccionarProveedor(proveedor)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">

					</p:commandButton>
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>
	<p:dialog header="Editar Proveedor" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id usuario :" />
			<h:outputText value="#{beanProveedor.proveedorSeleccionado.idProveedor}" />
			<p:panelGrid columns="2">

				<h:outputText value="Nombre" />
				<p:inputText
				value="#{beanProveedor.proveedorSeleccionado.nombreProveedor}" />
				<h:outputText value="RUC"/>
				<p:inputText
					value="#{beanProveedor.proveedorSeleccionado.rucProveedor}" />
					<h:outputText value="Correo"/>
				<p:inputText
					value="#{beanProveedor.proveedorSeleccionado.correoProveedor}" />
				<h:outputText value="Telefono" />
				<p:inputText
					value="#{beanProveedor.proveedorSeleccionado.telefonoProveedor}" />
					<h:outputText value="Direccion" />
				<p:inputText
					value="#{beanProveedor.proveedorSeleccionado.direccionProveedor}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanProveedor.actionListenerActualizarProveedor()}" />
		</h:form>

	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />

	</p:confirmDialog>
</body>
</html>
