<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-sacale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de datos de tipos de medida</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanTipoMedida.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Tipo de Medida" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanTipoMedida.actionListenerColapsarPanel()}">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanTipoMedida.tipomedida.nombreMedida}" >
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<h:outputText value="Sigla de Medida" />
				<p:inputText value="#{beanTipoMedida.tipomedida.siglaMedida}">
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanTipoMedida.actionInsertarTipoMedida()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos de los Tipos de Medida">
			<p:dataTable value="#{beanTipoMedida.listaTipoMedida}" reflow="true"
				var="tipomedida" paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{tipomedida.idMedida}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{tipomedida.idMedida}" />
				</p:column>
				<p:column headerText="Nombre" filterBy="#{tipomedida.nombreMedida}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{tipomedida.nombreMedida}" />
				</p:column>
				<p:column headerText="Sigla" filterBy="#{tipomedida.siglaMedida}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{tipomedida.siglaMedida}"/>
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanTipoMedida.actionEliminarTipoMedida(tipomedida.idMedida)}">
						<p:confirm header="Confirmacion" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanTipoMedida.actionListenerSeleccionarTipoMedida(tipomedida)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText
					value="#{beanTipoMedida.tipomedidaSeleccionado.nombreMedida}" />
				<h:outputText value="Sigla" />
				<p:inputText
					value="#{beanTipoMedida.tipomedidaSeleccionado.siglaMedida}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanTipoMedida.actionListenerActualizarTipoMedida()}" />
		</h:form>

	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>