<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
      

<h:head></h:head> 
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanProveedor.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Proveedor" icon="fa fa-plus"
					update="@form ,:form1"
					actionListener="#{beanProveedor.actionListenerColapsarPanel()}">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanMaterial.materiales.nombre}" />
				<h:outputText value="Descripcion" />
				<p:inputText value="#{beanMaterial.materiales.descripcion}" />
				<h:outputText value="Fecha Elaboracion" />
				<p:inputText value="#{beanMaterial.materiales.fechaElaboracion}" />
				<h:outputText value="Fecha Caducidad" />
				<p:inputText value="#{beanMaterial.materiales.fechaCaducidad}" />
				
				<h:outputText value="Riesgos" />
				<p:inputText value="#{beanMaterial.materiales.riesgoMateriale.idRiesgomateriales}" />
		
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanMaterial.actionInsertarMaterial()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>

	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos de Proveedor">
			<p:dataTable value="#{beanMaterial.listamateriales}" reflow="true"
				var="material" paginator="true" rows="5">
				<p:column headerText="NOMBRE">
					<h:outputText value="#{material.nombre}" />
				</p:column>
				<p:column headerText="Descripcion">
					<h:outputText value="#{material.descripcion}" />
				</p:column>
				<p:column headerText="Fecha Elaborada" >
					<h:outputText value="#{material.fechaElaboracion}" />
				</p:column>
				<p:column headerText="Fecha Caducada">
					<h:outputText value="#{material.fechaCaducidad}" />
				</p:column>
				<p:column headerText="Riesgo">
					<h:outputText value="#{material.riesgoMateriale.nombre}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanMaterial.actionListenerEliminarMaterial(material.idMateriales)}">
						<p:confirm header="Confirmacion" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanMaterial.actionListenerSeleccionarMaterial(material)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">

					</p:commandButton>
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>
	<p:dialog header="Editar Materiales" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id Material :" />
			<h:outputText value="#{beanMaterial.materialSeleccionado.idMateriales}" />
			<p:panelGrid columns="2">

				<h:outputText value="Nombre" />
				<p:inputText
				value="#{beanMaterial.materialSeleccionado.nombre}" />
				<h:outputText value="Descripcion"/>
				<p:inputText
					value="#{beanMaterial.materialSeleccionado.descripcion}" />
					<h:outputText value="Fecha Elaboracion"/>
				<p:inputText
					value="#{beanMaterial.materialSeleccionado.fechaElaboracion}" />
				<h:outputText value="Fecha Caducida" />
				<p:inputText
					value="#{beanMaterial.materialSeleccionado.fechaCaducidad}" />
					<h:outputText value="Riesgo" />
				<p:inputText
					value="#{beanMaterial.materialSeleccionado.riesgoMateriale.idRiesgomateriales}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanMaterial.actionListenerActualizarMaterial()}" />
		</h:form>

	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />

	</p:confirmDialog>
</body>
</html>