<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-sacale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Asignar roles</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanAsignarRol.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nueva asignacion" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanAsignarRol.actionListenerColapsarPanel()}"
					style="background-color:green">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Usuario" />
				
				<p:selectOneMenu value="#{beanUsuario.usuario.idUsuario}"
					filter="true" filterMatchMode="contains">
					<f:selectItems value="#{beanUsuario.listaUsuarios}" var="users"
						itemLabel="#{users.nombreUsuario}" itemValue="#{users.idUsuario}">
					</f:selectItems>
				</p:selectOneMenu>
				
				<h:outputText value="Id usuario" />
				<h:outputText value="#{beanUsuario.usuario.idUsuario}" />

				<h:outputText value="Roles" />

				<p:selectOneMenu value="#{beanRol.rol.idRol}" filter="true"
					filterMatchMode="contains">
					<f:selectItems value="#{beanRol.listaRoles}" var="roles"
						itemLabel="#{roles.nombreRol}" itemValue="#{roles.idRol}">
					</f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Id rol" />
				<h:outputText value="#{beanRol.rol.idRol}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanAsignarRol.actionListenerInsertarAsignacionRol(beanUsuario.usuario.idUsuario,beanRol.rol.idRol)}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Asignacion">
			<p:dataTable value="#{beanAsignarRol.listaAsignarRoles}"
				reflow="true" var="asignarRol" paginator="true" rows="5">
				<p:column headerText="USUARIO" priority="1" filterBy="#{asignarRol.usuario.nombreUsuario}"
					filterMatchMode="contains">
					<h:outputText value="#{asignarRol.usuario.nombreUsuario}" />
				</p:column>
				<p:column headerText="ROL" priority="1">
					<h:outputText value="#{asignarRol.role.nombreRol}" />
				</p:column>

			</p:dataTable>
		</p:panel>
	</h:form>
</body>
</html>