<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-sacale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de los roles de proveedores</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate />
		</p:messages>
	<p:panel collapsed="#{beanRolProveedor.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo usaurio" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanRolProveedor.actionListenerColapsarPanel()}">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanRolProveedor.rproveedor.nombreRolProveedor}" 
				>
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanRolProveedor.actionInsertarRolProveedor()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>

	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos de los Roles de Proveedores">
			<p:dataTable value="#{beanRolProveedor.listaProveedor}" reflow="true"
				var="proveedor" paginator="true" rows="5">
				<p:column headerText="Nombre Proveedor">
					<h:outputText value="#{proveedor.nombreRolProveedor}" />
				</p:column>
				
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanRolProveedor.actionListenerEliminarRolProveedor(proveedor.idRolProveedor)}">
						<p:confirm header="Confirmacion" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanRolProveedor.actionListenerSeleccionarRolProveedor(proveedor)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">

					</p:commandButton>
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>
	<p:dialog header="Editar usuario" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id usuario :" />
			<h:outputText value="#{beanRolProveedor.rolSeleccionado.nombreRolProveedor}" />
			<p:panelGrid columns="2">

				<h:outputText value="Nombre" />
				<p:inputText
				value="#{beanRolProveedor.rolSeleccionado.nombreRolProveedor}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanRolProveedor.actionListenerActualizarRolProveedor()}" />
		</h:form>

	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />

	</p:confirmDialog>
</body>
</html>
