<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-sacale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de usuarios</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanUsuario.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo usaurio" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanUsuario.actionListenerColapsarPanel()}"
					style="background-color:green">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanUsuario.usuario.nombreUsuario}"
					>
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<h:outputText value="Apellido" />
				<p:inputText value="#{beanUsuario.usuario.apellidoUsuario}">
					<p:keyFilter regEx="/[aA-zZ ]+/" />
				</p:inputText>
				<h:outputText value="cedula" />
				<p:inputText value="#{beanUsuario.usuario.cedulaUsuario}"
					
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />
				<h:outputText value="correo" />
				<p:inputText type="email"
					value="#{beanUsuario.usuario.correoUsuario}" >
					<p:keyFilter regEx="/[a-z0-9_\.\-@]/i"/>
				</p:inputText>
				<h:outputText value="Password" />
				<p:inputText value="#{beanUsuario.usuario.passwordUsuario}"
					 />
				<h:outputText value="Telefono" />
				<p:inputText value="#{beanUsuario.usuario.telefonoUsuario}"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />
				<h:outputText value="Direccion" />
				<p:inputText value="#{beanUsuario.usuario.direccionUsuario}">
				<p:keyFilter regEx="/[aA-zZ0-9 .]/i"/>

				</p:inputText>
				<p:selectOneMenu>
					<f:selectItems value="#{beanCiudad.listaciudad}" var="ciudad"
						itemLabel="#{ciudad.nombreCiudad}" itemValue="#{ciudad.idCiudad}">
					</f:selectItems>
					<p:ajax event="itemSelect">
					</p:ajax>
				</p:selectOneMenu>
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanUsuario.actionListenerInsertarUsuario()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>

	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos Usuario">
			<p:dataTable value="#{beanUsuario.listaUsuarios}" reflow="true"
				var="usuario" paginator="true" rows="5">
				<p:column headerText="NOMBRE" filterBy="#{usuario.nombreUsuario}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{usuario.nombreUsuario}" />
				</p:column>
				<p:column headerText="APELLIDO" priority="1">
					<h:outputText value="#{usuario.apellidoUsuario}" />
				</p:column>
				<p:column headerText="CEDULA" priority="1">
					<h:outputText value="#{usuario.cedulaUsuario}" />
				</p:column>
				<p:column headerText="CORREO" priority="1">
					<h:outputText value="#{usuario.correoUsuario}" />
				</p:column>
				<p:column headerText="PASSWORD" priority="1">
					<h:outputText value="#{usuario.passwordUsuario}" />
				</p:column>
				<p:column headerText="TELEFONO" priority="1">
					<h:outputText value="#{usuario.telefonoUsuario}" />
				</p:column>
				<p:column headerText="DIRECCION" priority="1">
					<h:outputText value="#{usuario.direccionUsuario}" />
				</p:column>
				<p:column headerText="CIUDAD" priority="1">
					<h:outputText value="#{usuario.ciudad.nombreCiudad}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanUsuario.actionListenerEliminarUsuario(usuario.idUsuario)}">
						<p:confirm header="Confirmacion" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanUsuario.actionListenerSeleccionarUsuario(usuario)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">

					</p:commandButton>
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>
	<p:dialog header="Editar usuario" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id usuario :" />
			<h:outputText value="#{beanUsuario.usuarioSeleccionado.idUsuario}" />
			<p:panelGrid columns="2">

				<h:outputText value="Nombre" />
				<p:inputText
					value="#{beanUsuario.usuarioSeleccionado.nombreUsuario}" />
				<h:outputText value="Password" />
				<p:inputText
					value="#{beanUsuario.usuarioSeleccionado.passwordUsuario}" />
				<h:outputText value="Telefono" />
				<p:inputText
					value="#{beanUsuario.usuarioSeleccionado.telefonoUsuario}" />
				<h:outputText value="Direccion" />
				<p:inputText
					value="#{beanUsuario.usuarioSeleccionado.direccionUsuario}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanUsuario.actionListenerActualizarUsuario()}" />
		</h:form>

	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />

	</p:confirmDialog>
</body>
</html>