<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-sacale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Bitacora</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanBitacora.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nueva bitacora" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanBitacora.actionListenerColapsarPanel()}" style="background-color:green">
				</p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Fecha" />
				<p:inputText value="#{beanBitacora.bitacora.fechaEvento}" />
				<h:outputText value="Metodo" />
				<p:inputText value="#{beanBitacora.bitacora.metodoBitacora}" />
				<h:outputText value="Descripcion" />
				<p:inputText value="#{beanBitacora.bitacora.descripcionBitacora}" />
				<h:outputText value="Direccion IP" />
				<p:inputText value="#{beanBitacora.bitacora.direccionIP_bitacora}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanBitacora.actionListenerInsertarBitacora()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>

	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Bitacora">
			<p:dataTable value="#{beanBitacora.listaBitacora}" reflow="true"
				var="bitacora" paginator="true" rows="5">
				<p:column headerText="FECHA" priority="1">
					<h:outputText value="#{bitacora.fechaEvento}" />
				</p:column>
				<p:column headerText="METODO" priority="1">
					<h:outputText value="#{bitacora.metodoBitacora}" />
				</p:column>
				<p:column headerText="DESCRIPCION" priority="1">
					<h:outputText value="#{bitacora.descripcionBitacora}" />
				</p:column>
				<p:column headerText="DIRECCION IP" filterBy="#{bitacora.direccionIP_bitacora}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{bitacora.direccionIP_bitacora}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="eliminar" update="@form"
						actionListener="#{beanBitacora.actionListenerEliminarbitacora(bitacora.codigoEvento)}">
						<p:confirm header="Confirmacion" message="Desea Eliminar?"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanBitacora.actionListenerSeleccionarBitacora(bitacora)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>

		</p:panel>
	</h:form>
	<p:dialog header="Editar bitacora" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Id bitacora :" />
			<h:outputText value="#{beanBitacora.bitacoraSeleccionada.codigoEvento}" />
			<p:panelGrid columns="2">

				<h:outputText value="Fecha" />
				<p:inputText value="#{beanBitacora.bitacoraSeleccionada.fechaEvento}"/>
				<h:outputText value="Metodo" />
				<p:inputText value="#{beanBitacora.bitacoraSeleccionada.metodoBitacora}"/>
				<h:outputText value="Descripcion" />
				<p:inputText value="#{beanBitacora.bitacoraSeleccionada.descripcionBitacora}"/>
				<h:outputText value="Direccion IP" />
				<p:inputText value="#{beanBitacora.bitacoraSeleccionada.direccionIP_bitacora}"/>
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanBitacora.actionListenerActualizarBitacora()}" />
		</h:form>

	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />

	</p:confirmDialog>
</body>
</html>