<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="proyecto_floricola">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="proyecto_floricolaEJB.jar" deploy-path="/" handle="module:/resource/proyecto_floricolaEJB/proyecto_floricolaEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="proyecto_floricolaWeb.war" deploy-path="/" handle="module:/resource/proyecto_floricolaWeb/proyecto_floricolaWeb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
